@import '../../vars';

.text-input {
    position: relative;
    height: 30px;
    border-radius: $border-radius;
    border: solid 2px #515FF3;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    margin: 20px 10px 10px 10px;
    cursor: text;

    @media($mobile-media) {
        width: 100%;
    }

    &.focused {
        @include input-shadow(1);
    }

    label.input-label {
        position: absolute;
        left: 3px;
        bottom: 35px;
        padding: 2px 5px;
        transition: all .3s ease;
        border-radius: $border-radius;
        @include font-bold(1em);
        color: $black-color;
        user-select: none;
    }

    .input-placeholder {
        position: absolute;
        left: 8px;
        bottom: 7px;
        transition: all .3s ease;
        @include font-regular(1em);
        color: $placeholder-color;
        user-select: none;
    }

    &.focused, &.not-empty {
        .input-placeholder {
            bottom: 35px;
            opacity: 0;
        }
    }

    &.focused {
        label.input-label {
            background-color: $secondary-color;
            color: white;
        }
    }

    &.invalid {
        border-color: $error-color;

        label.input-label {
            background-color: $error-color;
            color: white;
        }
    }

    input {
        width: calc(100% - 20px);
        height: calc(100% - 10px);
        @include font-regular(1em);
    }
}